<html>
	<head>
		<title>Order Ready</title>
	</head>
	<body>
		<p>Hello, the contact form of the site has been submitted.</p>

		<p>Name: {{ nasi_goreng|escape }}</p>
		<p>E-mail: {{ indomie|escape }}</p>
		<p>Name: {{ bihun_goreng|escape }}</p>
		<p>E-mail: {{ kwetiaw|escape }}</p>
		<p>The contents of the message was this:</p>
		

		<p>Regards, your website.</p>
	</body>
</html>
