/* Styling for default blog template.
   ----------------------------------------------------------

@package:	Atatonic CSS framework 2009	
@Author: 	Tim Benniks <tim@timbenniks.nl>
@Created: 	10-12-2009
@Changed:	19-03-2010

Copyright 2010 Tim Benniks <tim@timbenniks.nl>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

---------------------------------------------------------- */

#map {
	height: 90%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
	height: 90%;
	margin: 0;
	padding: 0;
  }
  body {
	  font: 20px Montserrat, sans-serif;
	  line-height: 1.8;
	  color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
	  background-color: #1abc9c; /* Green */
	  color: #ffffff;
  }
  .bg-2 { 
	  background-color: #474e5d; /* Dark Blue */
	  color: #ffffff;
  }
  .bg-3 { 
	  background-color: #ffffff; /* White */
	  color: #555555;
  }
  .bg-4 { 
	  background-color: #2f2f2f; /* Black Gray */
	  color: #fff;
  }
  .container-fluid {
	  padding-top: 70px;
	  padding-bottom: 70px;
  }
  .navbar {
	  padding-top: 15px;
	  padding-bottom: 15px;
	  border: 0;
	  border-radius: 0;
	  margin-bottom: 0;
	  font-size: 12px;
	  letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
	  color: #1abc9c !important;
  }

aside, header, footer, figure, article {
    display: block !important;
}

.thumbnail img {
    width: 100%;
    height: auto;
}

/* Typography
   ---------------------------------------------------------- */

h1 {
    color: #163a51;
    font-size: 18px;
    margin: 0 0 12px 0;
    font-style: normal;
}

.big h1 {
    font-size: 32px;
}

header h1 {
    color: #fff;
    margin: 11px 0 0 0;
    font-size: 27px;
}

header h1 a,
header h1 a:focus {
    color: #fff;
    border: none;
}

header h1 a:hover {
    color: #eee;
}

header h1 span {
    font-style: italic;
    font-size: .6em;
}

h2 {
    color: #163a51;
    margin: 0 0 12px 0;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
}

#sidebar h2 {
    color: #333;
    margin: 0;
}

h3 {
    font-size: 12px;
    line-height: 24px;
    font-style: normal;
    font-weight: bold;
    color: #333;
}

h5.chapeau {
    font-variant: small-caps;
    color: #333;
    border-bottom: 1px dotted #333;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    margin: 0 0 24px 0;
}


a, a:focus {
    color: #154868;
}

a:hover {
    color: #000;
    text-decoration: none;
}

p.summary {
    font-style: italic;
}

p.important {
    padding: 18px 0 0 0;
}

p.keywords {
    font-size: 12px;
}

.author {
    font-style: italic;
    font-variant: normal;
    text-transform: none;
}


/* Grid
   ---------------------------------------------------------- */

.zp-wrapper {
    width: 900px;
}

header {
    height: 48px;
}

#content .padding {
    padding: 0 90px 0 0;
}


/* Footer - see footer navigation styles in the zp-menu.css
   ------------------------------------------------------ */

#footer {
    margin: 20px 0;
    border-top: 1px dotted #333;
    padding: 9px 0 9px 0;
}

#footer p.footer-blog-title {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    color: #666;
}


/* Lists
   ---------------------------------------------------------- */

#content ul,
#content ol {
    margin: 0 0 18px 0;
    list-style-position: inside;
    list-style-type: disc;
}

#content ol {
    list-style-type: decimal;
}

#content .comments-list {
    list-style: none;
}

.item-list p {
    font-size: 12px;
    margin: 0;
}




.pager li {
    display: inline;
}

.pager li.disabled {
    display: none;
}

.images-list {
    margin: 0 0 18px 0;
    list-style: none;
}

.images-list li {
    margin: 0 0 18px 0;
}

.images-list li:last-child {
    margin: 0;
}

.images-list li img {
    float: none;
    display: block;
    margin: 0;
}

.shouts-list {
    font-size: 12px;
    line-height: 18px;
    list-style: none;
}

.shouts-list .tweet-date-time {
    font-style: italic;
    color: #888;
}


/* Posts
   ---------------------------------------------------------- */	

.post {
    margin: 0 0 36px 0;
}

.post h1 {
    margin: 0;
}

.post h1 a {
    border: none;
}

.post p:last-child {
    margin: 0;
}

.post .article-meta {
    font-size: 12px;
    font-style: italic;
    margin: 0;
    color: #666;	
}

.post img {
    margin: 6px 12px 0 0;
    display: block;
    float: left;
}

.prevnext {
    margin: 36px 0 0 0;
    overflow: hidden; /* clearfix hack */
}

.prevnext a {
    font-size: 12px;
    color: #333;
}

.prevnext a:hover {
    color: #154868;
}

.prevnext .prev {
    float: left;
}

.prevnext .next {
    float: right;
}


/* Nav
   ---------------------------------------------------------- */

#navigation li a, .navbar a.brand {
    text-shadow: none;
}

.navbar .nav>li>a:hover {
    color: #ddd;
}

/* Images
   ---------------------------------------------------------- */

figure.image-wrapper {
    margin: 0;
}

.block-level-image img {
    display: block;
}

p.image-caption {
    display: block;
    padding-top: 6px;
    font: 12px/18px arial, helvetica, sans-serif;
    margin: 0;
    color: #666;
}


/* Misc
   ---------------------------------------------------------- */

.comments-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.comments-list li {
    border-bottom: 1px dotted #aaa;
    margin: 0 0 18px 0;
    padding: 0 0 17px 0;
}

.comments-list li p {
    margin: 0;
}

.comments-list li h3 {
    font-weight: normal;
    font-style: italic;
    color: #555;
    font-size: 16px;
    line-height: 10px;
    padding-top: 6px;
}

.comments-list li img.avatar {
    float: left;
    margin: 0 6px 0 0;
}

.comments-list li .comment-meta {
    font-size: 12px;
    color: #666;
    line-height: 18px;
}

.comments-list li .comment-body {
    margin-top: 9px;
}

textarea.form-field-error,
input.form-field-error {
    background: #ffeeee;
}
label.form-field-error {
    color: #cc0000;
}

